.header {
    padding: 10px;
    color: white;
    background-color: #0000ff;
    font-weight: bold;
    text-align: center;
}

.currentWeather {
    border: solid black 2px;
}

.inlineBlock {
    display: inline-block;
}

.forecastCards {
    background-color: rgb(24, 38, 74);
    color: white;
}

img {
    max-width: 80px;
}